.tickets {
    @apply text-white;
    background-image: url(../img/bg_tickets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    height: 100%;
    @screen(md) {
        /* background-image: url(../img/affaire_3.jpeg); */
        background-image: none;
    }
}

.form-control {
    /* @apply text-primary; */
}