@import "tailwindcss";

@theme {
  /* Je Bootstrap-achtige kleuren */
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;

  /* De Container configureren */
  --container-center: true;
  --container-padding: 1rem;
}