@import "tailwindcss";

@theme {
  /* Je Bootstrap-achtige kleuren */
  --color-primary: #fff;
  --color-secondary: #000;
  --color-success: #00f;

  /* De Container configureren */
  --container-center: true;
  --container-padding: 1rem;
}